/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc
.turbopack
/sqlAppServices/dist 
/sqlAppServices/.venv
/sqlAppServices.tar
/dist
.DS_Store
.npmrc
/sqlAppServices/__pycache__
.vscode