.ant-btn:hover{
    color: #8dff9d !important;
    background: #0a170c !important;
    border: 1px solid #2f5c39 !important;
}
/* .ant-input::placeholder{
    border: none !important;
}

.ant-input:focus{
    border: 1px solid #8dff9d  !important;
}
.ant-input{
    color:#8dff9d !important;
}*/
input.ant-input.css-dev-only-do-not-override-1d8anct {
    border: none !important;
}

ant-input-affix-wrapper css-dev-only-do-not-override-1d8anct ant-input-outlined css-var-root ant-input-css-var:focus{
    border:#8dff9d !important;
} 